*, html, body  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: map-get($font-family , roboto );
}

img, picture {
    width: 100%;
    display: block;
}

a {
   text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 1rem 0;

    a {
        font-size: 1.5rem;
        color: $link__color;
    }
}