$primary-color: #272727;
$secondary-color : #ff652f;
$link__color :#fff;
$portage__1:#595cff;
$portage__2:#c6f8ff;
$font-family :(
 "dancing__script":'Dancing Script',
 "allura": 'Allura' 
 );

 $font-weight :
 (
    "regular":100,
    "medium" :500,
    "bold" :700
 )
 ;

 $white :hsl(0, 0%, 100%);