@import 'variables'; 
@import 'resets';
@import 'mixin' ;
@import 'navbar';
@import 'hamburger-menu';
@import 'home';

header {
    width: 100%;
    padding: 1rem;
    height: 50vh;
    background:
     linear-gradient(to left, rgba(black, 0.5), rgba(white, 0.3)),
     url("../mobile__background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.social__icon {
    // position: fixed;
    // bottom: 1rem;
    // left: 1rem;

    a {
        padding: 0.4rem;
        color: rgb(209 209 209);
        @include transition-ease ;
        
        &:hover {
            color: $secondary-color;
        }
    }
}